<div class="card bg-secondary bg-opacity-10 border-secondary p-4 vh-75">
    <h5 class="card-title mb-3 text-primary">Categories</h5>
    <form>
        <div class="mb-3">
            <label for="linkUrl" class="p-0 m-0 text-secondary text-sm-start"> First category</label>
            <input type="url" class="form-control bg-dark text-light border-secondary p-1 m-0" id="linkUrl" placeholder="" required>
        </div>
        <div class="mb-3">
            <label for="linkUrl2" class="p-0 m-0 text-secondary text-sm-start"> Second category</label>
            <input type="url" class="form-control bg-dark text-light border-secondary p-1 m-0" id="linkUrl2" placeholder="" required>
        </div>
        <div class="mb-3">
            <label for="linkUrl3" class="p-0 m-0 text-secondary text-sm-start">Third category</label>
            <input type="url" class="form-control bg-dark text-light border-secondary p-1 m-0" id="linkUrl3" placeholder="" required>
        </div>
        <div class="mb-3">
            <label for="linkUrl4" class="p-0 m-0 text-secondary text-sm-start"> Forth category</label>
            <input type="url" class="form-control bg-dark text-light border-secondary p-1 m-0" id="linkUrl4" placeholder="" required>
        </div>

        <div class="mb-3">
            <label for="linkUrl5" class="p-0 m-0 text-secondary text-sm-start"> Fifth category</label>
            <input type="url" class="form-control bg-dark text-light border-secondary p-1 m-0" id="linkUrl5" placeholder="" required>
        </div>

        <div class="mb-3">
            <label for="linkUrl6" class="p-0 m-0 text-secondary text-sm-start"> Sixth category</label>
            <input type="url" class="form-control bg-dark text-light border-secondary p-1 m-0" id="linkUrl6" placeholder="" required>
        </div>

        <div class="mb-3">
            <label for="linkUrl7" class="p-0 m-0 text-secondary text-sm-start"> Seventh category</label>
            <input type="url" class="form-control bg-dark text-light border-secondary p-1 m-0" id="linkUrl7" placeholder="" required>
        </div>
    </form>
</div>